<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Simple text input form</title>
    <link th:href="@{/css/form.css}" rel="stylesheet" />
</head>

<body>
<form action="#" th:action="@{/form}" th:object="${simpleForm}" method="post">
    <label>Input text</label> <br>
    <input th:field="*{inputText}" type="text" /> <br>
    <th:block th:each="fieldError : ${fieldErrors}">
        <span class="error" th:text="${fieldError.defaultMessage}"></span> <br>
    </th:block>
    <button type="submit">Submit</button>
</form>
</body>
</html>